.pick {
  display: flex;
  justify-content: center;
  max-width: 1600px;
  height: 1004px;
  margin: 0 auto;
  background: $color-orange-grad;
  padding-top: 69px;
  padding-bottom: 100px;
  &__content {
    width: 1160px;
    height: 835px;
    border-radius: 20px;
    padding-top: 41px;
    background: #FEE7D8;
    
  }
  &__text-wrapper {
    padding-left: 99px;
  }
  &__title {
    text-align: center;
    margin-bottom: 30px;
  }
  &__title-icon {
    text-align: center;
    @include font(3.6rem, 46.8px, 400);
    margin-bottom: 40px
  }
  &__subtitle {
    //text-align: center;
    @include font(2.4rem, 28.8px);
    margin-bottom: 40px;
  }
  &__text {
    @include font(1.6rem, 20.8px);
    &_first {
      font-weight: 500;
      margin-bottom: 10px;
    }
    &_second {
      font-weight: 400;
      line-height: 20.8px;
      margin-bottom: 60px;
    }
  }
  &__widgets-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-bottom: 60px;
  }
  &__vector {
    padding-top: 63px;
  }
  &__button {
    display: flex;
    justify-content: center;
  }
  &__link-text {
    text-decoration: none;
    color: inherit;
    border-bottom: 2px solid #FE9013;
    & :hover {
      cursor: pointer;
    }
  }
}