.watch {
  margin: 0 auto;
  position: relative;
  width: 1600px;
  height: 700px;
  //background: url('../../../assets/imgs/png/giant-panda.png') no-repeat -80px;
  background: url('../../../online-zoo/assets/imgs/png/giant-panda2.png');
  
  //background-repeat: no-repeat;
  background-position: 0 -80px;
  background-repeat: no-repeat;
  &__circle {
    position: absolute;
    left: 807px;
    top: 12px;
    width: 465px;
    height: 465px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
  }
  &__info {
    position: absolute;
    max-width: 500.31px;
    top: 86px;
    left: 880px;
    
  }
  &__text {
    @include font(106.5px, 79.87px, 700);
    color: white;
    text-align: center;
    margin-bottom: 60px;
    &_yellow {
      color: #FFEE2E;
    }
  }
  &__btn {
    display: flex;
    justify-content: center;
  }
}