$color-primary: #F1CDB3;
$color-black: black;

$color-green: #4B9200;
$color-yellow: #FFEE2E;
$color-rad: #D31414;

$color-black-blue: #333B41;
$color-gray: #767474;
$color-gray-smoky: #ABABAB;
$color-light-gray: #F1F3F2;
$color-frosted_glass_white: #FDFDFF;
$color-orange-grad: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, 
                  #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), 
                  linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, 
                  rgba(167, 143, 168, 0.66) 50.74%, 
                  #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), 
                  linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
$color-ping-grad: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), 
                  linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
