@mixin displayFlexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin font($size, $height, $weight:400, $style:normal) {
  font-family: 'Roboto', sans-serif;

  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  font-style: $style;
}