.donate-panda {
  max-width: 1600px;
  margin: 0 auto;
  height: 390px;
  //background-color: black;
  background: url('../../../online-zoo/assets/imgs/png/giant-panda2.png');
  background-repeat: no-repeat;
  background-position: 0px -198px;
}